/* This file contains all the global settings for the page */

/* This is the head font Barlow */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400&display=swap");
/* This is the body font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200&display=swap");

/* for material symbols */
.material-symbols-outlined {
  line-height: 1;
}

/* The styles scroll bar is only visible for bigger devices */
@media (min-width: 430px) {
  /* width */
  .myScrollbar::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  .myScrollbar::-webkit-scrollbar-track {
    background: white;
  }

  /* Handle */
  .myScrollbar::-webkit-scrollbar-thumb {
    background: #a2a2a2;
    border: 5px solid white;
  }

  /* Handle on hover */
  .myScrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
